In [39]:
import pandas as pd
import numpy as np
import os
import sys
from utils.settings import channelFreqs

dataset_path = "data/Satellite_Australia_Simulation_Log_2025_04_11_v2.csv"

df = pd.read_csv(dataset_path, header=0)
df['Time'] = pd.to_datetime(df['Time'])

In [40]:
df

,Time,GEO1_Name,GEO1_Lat,GEO1_Lon,GEO1_Freq_Hz,GEO1_Melbourne_Access,GEO1_Melbourne_SNR_dB,GEO1_Melbourne_RSSI_dBm,GEO1_Sydney_Access,GEO1_Sydney_SNR_dB,...,LEO3_Name,LEO3_Lat,LEO3_Lon,LEO3_Freq_Hz,LEO3_Melbourne_Access,LEO3_Melbourne_SNR_dB,LEO3_Melbourne_RSSI_dBm,LEO3_Sydney_Access,LEO3_Sydney_SNR_dB,LEO3_Sydney_RSSI_dBm
0,2025-04-10 12:00:00,GEO-1,-0.131626,141.352290,1500000000,1,47.063214,-103.856977,1,46.378258,...,LEO-3,-65.270974,151.294799,1502125000,0,NaN,NaN,0,NaN,NaN
1,2025-04-10 12:00:10,GEO-1,-0.131662,141.352301,1500000000,1,47.063215,-103.856976,1,46.378259,...,LEO-3,-64.658485,151.254601,1500125000,0,NaN,NaN,0,NaN,NaN
2,2025-04-10 12:00:20,GEO-1,-0.131699,141.352311,1500000000,1,47.063216,-103.856975,1,46.378260,...,LEO-3,-64.045933,151.214334,1501625000,0,NaN,NaN,0,NaN,NaN
3,2025-04-10 12:00:30,GEO-1,-0.131735,141.352322,1500000000,1,47.063217,-103.856974,1,46.378261,...,LEO-3,-63.433319,151.174002,1502125000,0,NaN,NaN,0,NaN,NaN
4,2025-04-10 12:00:40,GEO-1,-0.131772,141.352333,1500000000,1,47.063218,-103.856973,1,46.378262,...,LEO-3,-62.820640,151.133609,1500375000,0,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,NaT,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
263,NaT,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
264,NaT,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
265,NaT,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
266,NaT,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN

In [ ]:
# Convert Time to UTC timestamp
df['Time'] = pd.to_datetime(df['Time']).dt.tz_localize('UTC').astype('int64')

In [42]:
df

,Time,GEO1_Name,GEO1_Lat,GEO1_Lon,GEO1_Freq_Hz,GEO1_Melbourne_Access,GEO1_Melbourne_SNR_dB,GEO1_Melbourne_RSSI_dBm,GEO1_Sydney_Access,GEO1_Sydney_SNR_dB,...,LEO3_Name,LEO3_Lat,LEO3_Lon,LEO3_Freq_Hz,LEO3_Melbourne_Access,LEO3_Melbourne_SNR_dB,LEO3_Melbourne_RSSI_dBm,LEO3_Sydney_Access,LEO3_Sydney_SNR_dB,LEO3_Sydney_RSSI_dBm
0,1744286400000000000,GEO-1,-0.131626,141.352290,1500000000,1,47.063214,-103.856977,1,46.378258,...,LEO-3,-65.270974,151.294799,1502125000,0,NaN,NaN,0,NaN,NaN
1,1744286410000000000,GEO-1,-0.131662,141.352301,1500000000,1,47.063215,-103.856976,1,46.378259,...,LEO-3,-64.658485,151.254601,1500125000,0,NaN,NaN,0,NaN,NaN
2,1744286420000000000,GEO-1,-0.131699,141.352311,1500000000,1,47.063216,-103.856975,1,46.378260,...,LEO-3,-64.045933,151.214334,1501625000,0,NaN,NaN,0,NaN,NaN
3,1744286430000000000,GEO-1,-0.131735,141.352322,1500000000,1,47.063217,-103.856974,1,46.378261,...,LEO-3,-63.433319,151.174002,1502125000,0,NaN,NaN,0,NaN,NaN
4,1744286440000000000,GEO-1,-0.131772,141.352333,1500000000,1,47.063218,-103.856973,1,46.378262,...,LEO-3,-62.820640,151.133609,1500375000,0,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,-9223372036854775808,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
263,-9223372036854775808,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
264,-9223372036854775808,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
265,-9223372036854775808,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN
266,-9223372036854775808,GEO-1,0.000000,0.000000,1500000000,0,NaN,NaN,0,NaN,...,LEO-3,0.000000,0.000000,0,0,NaN,NaN,0,NaN,NaN

In [31]:
# for column in df.columns:
#     if "Freq_Hz" in column:
#         print(f"Column name: {column}, Type: {df[column].dtype}, Unique values: {df[column].nunique()}, Sample values: {df[column].unique()[:2]}")
#         print("Unique values: ", sorted(list(df[column].unique())))
#         df_freq_set = sorted(list(df[column].unique()))

# set(map(float, channelFreqs)) == set(map(float, df_freq_set))

In [32]:
# Predefined list of strings to check in the column names
obs_reegex_alls = ["RSSI", "SNR", "Lat","Lon"]

# Initialize an empty list to store matching column names
obs_space_columns = ['Time']

# Loop through the columns in the dataframe
for column in df.columns:
    # Print information about the column
    print(f"Column name: {column}, Type: {df[column].dtype}, Unique values: {df[column].nunique()}, Sample values: {df[column].unique()[:2]}")

    # Check if any string in the predefined list is present in the column name
    if any(substring.lower() in column.lower() for substring in obs_reegex_alls):
        obs_space_columns.append(column)

# Remove specific columns from the list
obs_space_columns.remove('GEO1_Lat')
obs_space_columns.remove('GEO1_Lon')

# Show the resulting list of columns
print("Columns containing any of the specified strings:")
print(obs_space_columns)



# Create a new dataframe with the selected columns
df_obs_space = df[obs_space_columns]

# Show the new dataframe (optional)
print("New DataFrame with selected columns:")
print(df_obs_space)

Column name: Time, Type: datetime64[ns], Unique values: 181, Sample values: <DatetimeArray>
['2025-04-10 12:00:00', '2025-04-10 12:00:10']
Length: 2, dtype: datetime64[ns]
Column name: GEO1_Name, Type: object, Unique values: 1, Sample values: ['GEO-1']
Column name: GEO1_Lat, Type: float64, Unique values: 182, Sample values: [-0.13162565 -0.13166232]
Column name: GEO1_Lon, Type: float64, Unique values: 182, Sample values: [141.35228982 141.35230063]
Column name: GEO1_Freq_Hz, Type: int64, Unique values: 1, Sample values: [1500000000]
Column name: GEO1_Melbourne_Access, Type: int64, Unique values: 2, Sample values: [1 0]
Column name: GEO1_Melbourne_SNR_dB, Type: float64, Unique values: 181, Sample values: [47.06321418 47.06321521]
Column name: GEO1_Melbourne_RSSI_dBm, Type: float64, Unique values: 181, Sample values: [-103.85697683 -103.8569758 ]
Column name: GEO1_Sydney_Access, Type: int64, Unique values: 2, Sample values: [1 0]
Column name: GEO1_Sydney_SNR_dB, Type: float64, Unique values: 181, Sample values: [46.37825821 46.37825913]
Column name: GEO1_Sydney_RSSI_dBm, Type: float64, Unique values: 181, Sample values: [-104.5419328  -104.54193188]
Column name: LEO1_Name, Type: object, Unique values: 1, Sample values: ['LEO-1']
Column name: LEO1_Lat, Type: float64, Unique values: 182, Sample values: [-65.25349693 -64.64100767]
Column name: LEO1_Lon, Type: float64, Unique values: 182, Sample values: [131.19641504 131.15892198]
Column name: LEO1_Freq_Hz, Type: int64, Unique values: 11, Sample values: [1500375000 1501875000]
Column name: LEO1_Melbourne_Access, Type: int64, Unique values: 2, Sample values: [0 1]
Column name: LEO1_Melbourne_SNR_dB, Type: float64, Unique values: 70, Sample values: [         nan -31.58700302]
Column name: LEO1_Melbourne_RSSI_dBm, Type: float64, Unique values: 70, Sample values: [          nan -182.50719403]
Column name: LEO1_Sydney_Access, Type: int64, Unique values: 2, Sample values: [0 1]
Column name: LEO1_Sydney_SNR_dB, Type: float64, Unique values: 55, Sample values: [        nan -32.4180364]
Column name: LEO1_Sydney_RSSI_dBm, Type: float64, Unique values: 55, Sample values: [          nan -183.33822741]
Column name: LEO2_Name, Type: object, Unique values: 1, Sample values: ['LEO-2']
Column name: LEO2_Lat, Type: float64, Unique values: 182, Sample values: [-65.26423381 -64.65174424]
Column name: LEO2_Lon, Type: float64, Unique values: 182, Sample values: [141.24393291 141.20513432]
Column name: LEO2_Freq_Hz, Type: int64, Unique values: 11, Sample values: [1498875000 1500625000]
Column name: LEO2_Melbourne_Access, Type: int64, Unique values: 2, Sample values: [0 1]
Column name: LEO2_Melbourne_SNR_dB, Type: float64, Unique values: 79, Sample values: [         nan -71.83140154]
Column name: LEO2_Melbourne_RSSI_dBm, Type: float64, Unique values: 79, Sample values: [          nan -222.75159255]
Column name: LEO2_Sydney_Access, Type: int64, Unique values: 2, Sample values: [0 1]
Column name: LEO2_Sydney_SNR_dB, Type: float64, Unique values: 73, Sample values: [         nan -76.13746041]
Column name: LEO2_Sydney_RSSI_dBm, Type: float64, Unique values: 73, Sample values: [          nan -227.05765142]
Column name: LEO3_Name, Type: object, Unique values: 1, Sample values: ['LEO-3']
Column name: LEO3_Lat, Type: float64, Unique values: 182, Sample values: [-65.27097446 -64.65848463]
Column name: LEO3_Lon, Type: float64, Unique values: 182, Sample values: [151.2947987  151.25460132]
Column name: LEO3_Freq_Hz, Type: int64, Unique values: 11, Sample values: [1502125000 1500125000]
Column name: LEO3_Melbourne_Access, Type: int64, Unique values: 2, Sample values: [0 1]
Column name: LEO3_Melbourne_SNR_dB, Type: float64, Unique values: 68, Sample values: [          nan -201.49901612]
Column name: LEO3_Melbourne_RSSI_dBm, Type: float64, Unique values: 68, Sample values: [          nan -352.41920714]
Column name: LEO3_Sydney_Access, Type: int64, Unique values: 2, Sample values: [0 1]
Column name: LEO3_Sydney_SNR_dB, Type: float64, Unique values: 80, Sample values: [          nan -213.56577604]
Column name: LEO3_Sydney_RSSI_dBm, Type: float64, Unique values: 80, Sample values: [          nan -364.48596705]
Columns containing any of the specified strings:
['Time', 'GEO1_Melbourne_SNR_dB', 'GEO1_Melbourne_RSSI_dBm', 'GEO1_Sydney_SNR_dB', 'GEO1_Sydney_RSSI_dBm', 'LEO1_Lat', 'LEO1_Lon', 'LEO1_Melbourne_SNR_dB', 'LEO1_Melbourne_RSSI_dBm', 'LEO1_Sydney_SNR_dB', 'LEO1_Sydney_RSSI_dBm', 'LEO2_Lat', 'LEO2_Lon', 'LEO2_Melbourne_SNR_dB', 'LEO2_Melbourne_RSSI_dBm', 'LEO2_Sydney_SNR_dB', 'LEO2_Sydney_RSSI_dBm', 'LEO3_Lat', 'LEO3_Lon', 'LEO3_Melbourne_SNR_dB', 'LEO3_Melbourne_RSSI_dBm', 'LEO3_Sydney_SNR_dB', 'LEO3_Sydney_RSSI_dBm']
New DataFrame with selected columns:
                   Time  GEO1_Melbourne_SNR_dB  GEO1_Melbourne_RSSI_dBm  \
0   2025-04-10 12:00:00              47.063214              -103.856977
1   2025-04-10 12:00:10              47.063215              -103.856976
2   2025-04-10 12:00:20              47.063216              -103.856975
3   2025-04-10 12:00:30              47.063217              -103.856974
4   2025-04-10 12:00:40              47.063218              -103.856973
..                  ...                    ...                      ...
262                 NaT                    NaN                      NaN
263                 NaT                    NaN                      NaN
264                 NaT                    NaN                      NaN
265                 NaT                    NaN                      NaN
266                 NaT                    NaN                      NaN

     GEO1_Sydney_SNR_dB  GEO1_Sydney_RSSI_dBm   LEO1_Lat    LEO1_Lon  \
0             46.378258           -104.541933 -65.253497  131.196415
1             46.378259           -104.541932 -64.641008  131.158922
2             46.378260           -104.541931 -64.028457  131.121240
3             46.378261           -104.541930 -63.415842  131.083383
4             46.378262           -104.541929 -62.803164  131.045361
..                  ...                   ...        ...         ...
262                 NaN                   NaN   0.000000    0.000000
263                 NaN                   NaN   0.000000    0.000000
264                 NaN                   NaN   0.000000    0.000000
265                 NaN                   NaN   0.000000    0.000000
266                 NaN                   NaN   0.000000    0.000000

     LEO1_Melbourne_SNR_dB  LEO1_Melbourne_RSSI_dBm  LEO1_Sydney_SNR_dB  ...  \
0                      NaN                      NaN                 NaN  ...
1                      NaN                      NaN                 NaN  ...
2                      NaN                      NaN                 NaN  ...
3                      NaN                      NaN                 NaN  ...
4                      NaN                      NaN                 NaN  ...
..                     ...                      ...                 ...  ...
262                    NaN                      NaN                 NaN  ...
263                    NaN                      NaN                 NaN  ...
264                    NaN                      NaN                 NaN  ...
265                    NaN                      NaN                 NaN  ...
266                    NaN                      NaN                 NaN  ...

     LEO2_Melbourne_SNR_dB  LEO2_Melbourne_RSSI_dBm  LEO2_Sydney_SNR_dB  \
0                      NaN                      NaN                 NaN
1                      NaN                      NaN                 NaN
2                      NaN                      NaN                 NaN
3                      NaN                      NaN                 NaN
4                      NaN                      NaN                 NaN
..                     ...                      ...                 ...
262                    NaN                      NaN                 NaN
263                    NaN                      NaN                 NaN
264                    NaN                      NaN                 NaN
265                    NaN                      NaN                 NaN
266                    NaN                      NaN                 NaN

     LEO2_Sydney_RSSI_dBm   LEO3_Lat    LEO3_Lon  LEO3_Melbourne_SNR_dB  \
0                     NaN -65.270974  151.294799                    NaN
1                     NaN -64.658485  151.254601                    NaN
2                     NaN -64.045933  151.214334                    NaN
3                     NaN -63.433319  151.174002                    NaN
4                     NaN -62.820640  151.133609                    NaN
..                    ...        ...         ...                    ...
262                   NaN   0.000000    0.000000                    NaN
263                   NaN   0.000000    0.000000                    NaN
264                   NaN   0.000000    0.000000                    NaN
265                   NaN   0.000000    0.000000                    NaN
266                   NaN   0.000000    0.000000                    NaN

     LEO3_Melbourne_RSSI_dBm  LEO3_Sydney_SNR_dB  LEO3_Sydney_RSSI_dBm
0                        NaN                 NaN                   NaN
1                        NaN                 NaN                   NaN
2                        NaN                 NaN                   NaN
3                        NaN                 NaN                   NaN
4                        NaN                 NaN                   NaN
..                       ...                 ...                   ...
262                      NaN                 NaN                   NaN
263                      NaN                 NaN                   NaN
264                      NaN                 NaN                   NaN
265                      NaN                 NaN                   NaN
266                      NaN                 NaN                   NaN

[267 rows x 23 columns]

In [33]:
obs_space_columns

['Time',
 'GEO1_Melbourne_SNR_dB',
 'GEO1_Melbourne_RSSI_dBm',
 'GEO1_Sydney_SNR_dB',
 'GEO1_Sydney_RSSI_dBm',
 'LEO1_Lat',
 'LEO1_Lon',
 'LEO1_Melbourne_SNR_dB',
 'LEO1_Melbourne_RSSI_dBm',
 'LEO1_Sydney_SNR_dB',
 'LEO1_Sydney_RSSI_dBm',
 'LEO2_Lat',
 'LEO2_Lon',
 'LEO2_Melbourne_SNR_dB',
 'LEO2_Melbourne_RSSI_dBm',
 'LEO2_Sydney_SNR_dB',
 'LEO2_Sydney_RSSI_dBm',
 'LEO3_Lat',
 'LEO3_Lon',
 'LEO3_Melbourne_SNR_dB',
 'LEO3_Melbourne_RSSI_dBm',
 'LEO3_Sydney_SNR_dB',
 'LEO3_Sydney_RSSI_dBm']